.add {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px #fff solid;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  outline: 0;
  cursor: pointer;
  transition: 0.15s all linear;

  &:hover {
    background-color: #17c964;
    border-color: #17c964;
  }
}
